/* Enter your custom styles here */

.mvnSideNavigation.sapTntSideNavigation{
    width : 20rem
}

.mvnSplitContainer .sapMSplitContainerMaster{
    width : 4.1rem
}

.mvnTableSelectDialog .sapMSF{
    display : none;
}

.mvnObjectPageLayoutTitleOverflowToolbar.sapMTB.sapMTBStandard {
    border-bottom:0;
}