/* Enter your custom styles here */

.mvnSideNavigation.sapTntSideNavigation{
    width : 20rem
}

.mvnSplitContainer .sapMSplitContainerMaster{
    width : 4.1rem
}

.mvnTableSelectDialog .sapMSF{
    display : none;
}

.mvnObjectPageLayoutTitleOverflowToolbar.sapMTB.sapMTBStandard {
    border-bottom:0;
}

.mvnMessageStripFooter{
    width: 100%;
}


.sapMIBar  .mvnButtonSepeartor.sapMText.sapUiSelectable.sapMTextBreakWord.sapMTextMaxWidth  {
    margin: 0;
    min-width: 0;
    margin-left: 0.5rem;
    color:#a8b3bd;
}